.mix-card-box {
    display: flex;
    flex:1;
    flex-direction: column;
}

.add {
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: white;
    background-color: rgba(19, 18, 18, 0.5);
    padding-bottom: 10px;
    border-radius: 10px;
  }