@import "~bootstrap/scss/bootstrap";
@import "./common.scss";

.addset-modal {
	left: 35vw;
	top: 20vh;
	width: 30vw; /* Full width */
	height: 60vh; /* Full height */
	background-color: #6697C5;
	position: fixed; /* Stay in place */
	z-index: 100; /* Sit on top */
	overflow: auto; /* Enable scroll if needed */
	border: 1px solid black;
	@extend .px-2;
	@extend .py-2;
}

.set-image {
	width: 10vw; /* Full width */
	height: 10vw; /* Full height */
	background-color: lightgray;
	border: 1px solid white;
}

.set-field {
	width: 100%;
}

.createbutton {
	@extend .d-flex;
	@extend .flex-row-reverse;
}

#mixsearch {
	margin: 5%;
	width: 90%;
}

.label {
	@extend .white;
	font-size: large;
}

.label-bold {
	@extend .label;
	font-weight: bold;
	font-size: large;
}