@import "node_modules/bootstrap/scss/bootstrap.scss";

.App {
  max-height: 100%;

  .main-content {
    height: 100%; // subtract the height of the header
    display: flex;

    .left-box {
      background-color: rgba(19, 18, 18, 0.5);
      border-radius: 10px;
      padding: 0px;
      height:100%;

      h2 {
        margin-top: 0;
        text-align: center;
        color: white;
        background-color: rgba(19, 18, 18, 0.5);
        padding-bottom: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }

    .right-box-top {
      background-color: rgba(19, 18, 18, 0.5);
      border-radius: 10px;
      padding: 0px;
      display: flex;
      flex-direction: column;
      flex: 1;

      h2 {
        margin-top: 0;
        text-align: center;
      }
    }

    .right-box-bottom {
      grid-column: 2;
      grid-row: 2;
      background-color: rgba(19, 18, 18, 0.5);
      border-radius: 10px;
      padding: 0px;
      display: flex;
      flex-direction: column;
      flex: 1;

      h2 {
        margin-top: 0;
        text-align: center;
      }
    }
  }
}

.content {
  max-width: 100%;
  overflow-y: auto;
}

h2 {
  margin-top: 0;
  text-align: center;
  color: white;
  background-color: rgba(19, 18, 18, 0.5);
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.right-row {
  max-height: 50%;
}

.add {
  margin-top: 0;
  padding: 5px;
  text-align: center;
  color: white;
  background-color: rgba(19, 18, 18, 0.5);
  padding-bottom: 10px;
  border-radius: 10px;
}