.audiofilecard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .audiofilecard-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .audiofilecard-artist {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
  }
  
  .audiofilecard-genre {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
  }
  
  .audiofilecard-bpm {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
  }
  