.audio-file-card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  .audio-file-card-box h2 {
    margin: 0 0 20px;
    font-size: 24px;
    font-weight: bold;
  }

  .audio-file-card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  
  @media screen and (max-width: 768px) {
    .audio-file-card-box {
      gap: 10px;
    }
  }
  