.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  background-color: #19547B;
  color: #fff;
  
  h1 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    flex-grow: 1;
  }
  
  .header-icons {
    display: flex;
    align-items: left;
    
    svg {
      width: 45px;
      height: 45px;
      margin-left: 10px;
      stroke: #ffffff;
    }
  }
}
