.header {
  margin-bottom: 10px;
  align-items: center;
  height: 50px;
  padding: 5px;
  background-color: #19547B;
  color: #fff;
  
  h1 {
    font-size: 2rem;
    vertical-align: bottom;
    text-align: center;

  }
  

    
    svg {
      margin-left: 10px;
      stroke: #ffffff;
    }
}

.header-container{
  height: 50px;
}