@import "~bootstrap/scss/bootstrap";
@import "./common.scss";

.help-modal {
  background-color: #6697C5;
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 50px;
  width: 100vw; /* Full width */
  height: auto; /* Full height */
}