@import "node_modules/bootstrap/scss/bootstrap.scss";

.mix-card {
  background: linear-gradient(to right,rgba(49, 48, 48, 0.5), rgba(27, 27, 27, 0.6), rgba(27, 27, 27, 0.6), rgba(6, 6, 6, 0.7));
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 5px;
  
    .mix-card__title {
      color: white;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

  .audio-file-card {
    background: linear-gradient(to right,rgba(49, 48, 48, 0.5), rgba(27, 27, 27, 0.6), rgba(27, 27, 27, 0.6), rgba(6, 6, 6, 0.7));
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 5px;
  }
  
  .audio-file-card__title {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 3px;
  }
  
  .audio-file-card__artist { 
    font-size: 14px;
    color: white;
    margin-bottom: 0px;
  }
  
  .audio-file-card__length {
    font-size: 14px;
    color: white;
    margin-bottom: 0px;
  }
  
  .audio-file-card__genres {
    font-size: 14px;
    color: white;
    margin-bottom: 0px;
  }
  
  